{% extends 'home/base.html' %}
{% block title %}
        About
    {% endblock %}
    {% block about %} active {% endblock %}
  
    {% block page %}
        <h1 style="text-decoration: underline;">About</h1>

<div class="container">
        <div class="fw-lighter" style="font-size: smaller;">
            Welcome to My Blog! This platform serves as a showcase of curated content created and managed entirely by the admin. Designed to be a read-only experience, the blog features insightful posts on various topics, ensuring visitors can enjoy quality content without the distractions of user-generated uploads.
        
        The blog is built using Django, a powerful Python framework that ensures smooth performance and scalability. Admins can easily manage posts via the Django admin panel, allowing them to focus on creating engaging and informative content. Whether you're here to learn, explore, or be inspired, My Blog is your go-to source for thoughtfully curated posts.
            </p></div></div>
    {% endblock %}