{% extends 'home/base.html' %}
{% block title %}
        Blog Post
    {% endblock %}
    {% block blog %} active {% endblock %}

    {% block body %}
        <div class="container">
            <h2>Search results For Your Query : </h2>
            {% for post in blog_post %}
      
            <div class="container my-3">
            <div class="card">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h7 class="card-title">Blog created by {{post.author}}</h7>
                  <h5 class="card-title">{{post.title}}</h5>
                  <p class="card-text">{{post.content | truncatechars:150}}</p>
                  <a href="blog/{{post.slug}}" class="btn btn-primary">Read More</a>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
    {% endblock %}